<img class="center-picture" src="../../../assets/poze/MD_Beauty.jpg" alt="">
<h4 class="text-center" data-text="Bine ai venit pe MD_Beauty!">Bine ai venit pe MD_Beauty! </h4>
<p style="font-family:'Brush Script m7',cursive" class="center-text">MD_Beauty este un proiect la început de drum ce își dorește să fie un magazin online strict bazat pe partea de beauty, deci dedicat în special femeilor.Avem produse atât pentru față cât și pentru păr ,astfel încât răsfățul de care îți dorești să ai parte să fie unul complet.  </p>
<p style="font-family:'Brush Script m7',cursive" class="center-text1" *ngIf="user$ | async as user">Bine ai venit pe MD_Beauty,{{user.displayName}}!</p>
