ul{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;

}
ul li a{
    height: 20rem;
    width:20rem;
    border:2px solid whitesmoke;
    border-radius: 1rem;
    margin:0.8rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color:red;
}
li a:hover{
    opacity: 1;
    cursor: pointer;
}