<ul>
    <li *ngFor="let r of Reduceri">
        <a routerLink="/reduceri/{{r.id}}">
              <img src="{{r.imageUrl}}" alt="">
              <div class="content">
                <div class="name">
                    {{r.name}}
                </div>
                <div class="price">
                    
                     {{r.price}} lei redus de la {{r.oldprice}} lei
                    
                    
                </div>
              </div>
        </a>
      
    </li>
</ul>

